<%- include('partials/header', { title: 'Error' }) %>
<div class="container empty">
  <h1>Something went wrong</h1>
  <p><%= message %></p>
  <a href="/" class="btn">Go home</a>
</div>
<%- include('partials/footer') %>
